<div class="intro-section" id="home-section">

  <div class="slide-1" style="background-image: url('assets/images/hall-g3c9c0df4c_1920.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row align-items-center">
            <div class="col-lg-6 mb-4">
              <h1 data-aos="fade-up" data-aos-delay="100">Learn From The Expert</h1>
              <p class="mb-4" data-aos="fade-up" data-aos-delay="200">First professional club in Canada for Compound, Recurve and Crossbow. Where you will enhance your career with the help of our coach <span class="font-weight-bold text-warning">"Jiwanjot Singh Teja"</span>.<br/> Don't miss it.</p>
              <p data-aos="fade-up" data-aos-delay="300"><a href="#courses-section" class="btn btn-primary py-3 px-5 btn-pill">Enroll Now</a></p>
            </div>

            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="500">
              <form action="" method="post" class="form-box">
                <h3 class="h4 text-black mb-4">Sign Up</h3>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email Addresss" autocomplete="off">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" autocomplete="off">
                </div>
                <div class="form-group mb-4">
                  <input type="password" class="form-control" placeholder="Re-type Password" autocomplete="off">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary btn-pill" value="Sign up">
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
